<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Styles -->
    <link rel="stylesheet" href="./styles.css"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Pinyon+Script&display=swap" rel="stylesheet">
</head>
<body >
    <div class="Navbar arapey-regular">
        <div class="navTitle">
            <a href="./home" class="logo">
                <img src="./Assets/Logo top.png" class="logoNav" alt="PizzaTria Logo"/>         
            </a> 
            <h1 class="PizzaTriaName">PizzaTria</h1>
        </div>
        <div class="navLinks">
            <a href="./home" class="navOption">
                <h2 class="active">Home</h2>            
            </a>       
            <a href="./menu" class="navOption">
                <h2 class="navH">Menu</h2>            
            </a>   
            <a href="./profile" class="navOption">
                <h2 class="navH">Profile</h2>
            </a>             
            <a href="./checkout" class="navOption">
                <svg class="navH" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>  
                <%if(cartItems>0){%>
                    <div class="cartItems"><span><%=cartItems%></span></div>
                <%}%>      
            </a>    
        </div>
    </div>
    <div class="PizzaDisplay">
        <img class="pizza" src="./Assets/Grilled Chicken Pizza_nbg.png" alt="Pizza Image"/> 
        <div class="PizzaDisplayText">
            <h2 class="PizzaDisplayH">Try the best pizza by far.</h2>
            <p class="PizzaDisplayB">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div> 
    </div>
    <div class="Specials">
        <div class="SpecialsText">
            <p class="SpecialsTop">
                Pizza Description
            </p>
            <div class="SpecialsList">
                <h1>Try our Specials</h1>
                <div class="currentSpecialsContainer">

                    <div class="currentSpecialCard">
                        <img class="cardImage" src="./Assets/HomePagePizza_img1.png">
                        <p class="pizzaDescription">Hello</p>
                        <p class="pizzaName">Pizza Name</p>
                        <div class="cardPrice">
                            <p class="pizzaPrice">Pizza Price</p>
                            <a href="..." class="orderNowButton">Order now</a>
                        </div>
                    </div>
                    <div class="currentSpecialCard">
                        <img class="cardImage" src="./Assets/HomePagePizza_img1.png">
                        <p class="pizzaDescription">Hello</p>
                        <p class="pizzaName">Pizza Name</p>
                        <div class="cardPrice">
                            <p class="pizzaPrice">Pizza Price</p>
                            <a href="..." class="orderNowButton">Order now</a>
                        </div>
                    </div>
                    <div class="currentSpecialCard">
                        <img class="cardImage" src="./Assets/HomePagePizza_img1.png">
                        <p class="pizzaDescription">Hello</p>
                        <p class="pizzaName">Pizza Name</p>
                        <div class="cardPrice">
                            <p class="pizzaPrice">Pizza Price</p>
                            <a href="..." class="orderNowButton">Order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="homePageImg" src="./Assets/HomePagePizza_img4.png" alt="Image of a pizza"/>
        <div class="visitMenu">
            <p class="visitMenuH pinyon-script-regular">Visit our menu</p>
        </div>
        
        <div class="menuView">
        </div>        
    </div>
    <div class="aboutUsContainer arapey-regular">
        <img class="aboutUsImg" src="./Assets/HomePagePizza_img8.png">
        <div class="aboutUsInfo">
            <h2 class="aboutUsH">About Us</h2>
            <p class="aboutUsB">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</body>
</html>