<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="./styles.css"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap" rel="stylesheet">

</head>
<body >
    <div class="Navbar arapey-regular">
        <div class="navTitle">
            <img src="./Assets/Logo top.png" class="logoNav" alt="PizzaTria Logo"/>
            <h1 class="PizzaTriaName">PizzaTria</h1>
        </div>
        <div class="navLinks">
            <a href="./home" class="navOption">
                <h2 class="active">Home</h2>            
            </a>       
            <a href="./menu" class="navOption">
                <h2 >Menu</h2>            
            </a>    
            <a href="./checkout" class="navOption">
                <h2 >Checkout</h2>            
            </a>    
        </div>
    </div>
    <div class="PizzaDisplay">
        <img class="pizza" src="./Assets/HomePagePizza_img1.png" alt="Pizza Image"/>
     
    </div>
    <div class="Specials">
        <div class="SpecialsText">
            <p class="SpecialsTop">
                boe

                hhhah
                hshsh<br/>
                hhgdhhdhh
            </p>
            <div class="SpecialsList">
                <h1>Try our Specials</h1>
                <div class="currentSpecialsContainer">

                    <div class="currentSpecialCard">
                        <div class="cardImage" style="background: image-set('./Assets/HomePagePizza_img1.png'); background-size: cover;"><p class="pizzaDescription">Hi my name is bob, Im a goldfish and a goldfish has short memory.</p></div>
                        <p class="pizzaName">Pizza Name</p>
                        <div class="cardPrice">
                            <p class="pizzaPrice">Pizza Price</p>
                            <a href="..." class="orderNowButton">Order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="new">

    </div>

</body>
</html>