body{
    background: image-set("./Assets/HomePagePizza_img5.png");
    background-attachment: fixed;
    margin: 0px;
}
.arapey-regular{
    font-family: "Arapey", serif;
    font-weight: 400;
    font-style: normal;
}
.pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.Navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navTitle{
    display: flex;
    width: 250px;
    align-items: center;
}
.logoNav{
    height: 80px;
    padding: 15px;
}
.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.navOption{
    font-size: 9pt;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color:black;

}
.active{
    background-color: #B45318;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
}
.PizzaDisplay{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 30vw;
}
.PizzaDisplayText{
    align-self: self-start;
    width: 25%;
    margin-left: 10px;
}
.PizzaDisplayH{
    font-size: 4vw;
}
.PizzaDisplayB{
    font-size: 1.5vw;
    width: 60%;
}
.pizza{
    position: absolute;
    z-index: -1;
    width: 80%;
    transform-origin: center;
    animation:rotate 50s linear infinite;
}
.Specials{
    width: 100vw;
}
.SpecialsTop{
    background-color:#B45318;
    height: 30px; 
    padding: 20px;
    margin: 0px;
}
.SpecialsText{
    height: fit-content;
    background: image-set("./Assets/HomePagePizza_img2.png");
    background-size: cover;
    text-align: center;
}

.currentSpecialsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}
.pizzaList{
    display: flex;
    justify-content: center;
}
.pizzasContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.currentSpecialCard, .pizzaCard{
    display: flex;
    flex-direction: column;
    background-color: #646363;
    width: 180px;
    margin: 5px;
}
.cardImage{
    height: 170px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.currentSpecialCard:hover, .pizzaCard:hover{
    background-color:#E88D38;
    .pizzaDescription{
        opacity: 100%;
        
    }
    .orderNowButton{
        background-color: #B45318;
    }
}
.pizzaDescription{
    width:170px;
    position: absolute;
    height: fit-content;
    opacity: 0;
    background: rgba(180, 83, 24,0.8);
    color: white;
    padding: 5px;
    font-size: 11pt;
}

.pizzaName{
    color: white;
    padding: 0px;
    padding-left: 10px;
    padding-top: 15px;
    margin: 0;
    font-size: 14pt;
    text-align: left;
}
.cardPrice{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pizzaPrice{
    color: white;
    padding: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}
.orderNowButton{
    padding: 2px;
    margin: 10px;
    background-color: #E88D38;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
.visitMenu{
    text-align: center;
    height: 60px;
    margin: 0px;
    background-color: #2f3335;
    padding-top: 10px;
    position: relative;
    top: -5px;
}
.visitMenuH{
    font-size: 50pt;
    position: relative;
    top: -80px;
    color: whitesmoke;
}
.menuView{
    background: image-set("./Assets/HomePagePizza_img5.png");
    background-size: cover;
    height: 200px;
}

.pizzaViewContainer{
    background-size: cover;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

.cartItems{
    position: absolute;
    top: 35px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #E88D38;
    text-align: center;
    border-radius: 50%;
    align-content: center;
}
.aboutUsContainer{
    background-color: #2f3335;
}
.aboutUsImg, .homePageImg{
    width: 100%;
    margin: 0px;
}
.aboutUsInfo{
    margin: 0px;
    
}
.aboutUsH{
    margin: 0px;
    text-align: center;
    color: whitesmoke;
    margin: 10px;
}
.aboutUsB{
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    color: whitesmoke;
    padding: 10px;
    padding-bottom: 20px;
}
.pizzaType{
    width: 25px;
    height: 25px;
    position: absolute;
    align-self: flex-end;
    border-radius: 50%;
}
.typeIcon{
    padding: 3px;
}

/* Animations */
@keyframes rotate {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}

@media (min-width: 1100px){
    .pizzaCard{
        scale: 150%;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 50px;
        margin-right: 50px;
    }
}